#page-code {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/code/ide-background2.jpg");
    background-color: #000;
    background-attachment: fixed;
}
