#page-drive {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/drive/albuquerque-map-stylized-02.png");
    background-color: #000;
    background-attachment: fixed;
}
