// _variables.scss

// Gap Sizes
$gutter-size-small: 5px;
$gutter-size-medium: 10px;
$gutter-size-large: 20px;

// Border Radius
$border-radius-large: 10px;
$border-radius-large-outer: 15px;
$border-radius-small: 3px;

// Link Colors
$link-color: rgb(128, 166, 253);
$link-hover-color: rgb(118, 159, 255);
