.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        text-indent: 100%;
    }
    100% {
        text-indent: -100%;
    }
}

.blink {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
