#page-video {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/video/background-timeline.png");
    background-color: #000;
    background-attachment: fixed;
}
